.footer-background {
    .footer-wave,
    .footer-wave-mobile {
        position: absolute;
        width: 100%;
        background-color: $color-5;
    }

    .footer-wave {
        display: block;
        height: $heightFooter;

        svg {
            height: $heightFooter;
        }
    }
    .footer-wave-mobile {
        display: none;
        height: $heightFooterMobile;

        svg {
            height: $heightFooterMobile;
        }
    }
}
