@import 'background';
@import 'content';

footer {
    height: $heightFooter;

    & > div {
        position: relative;
    }

    .socials {
        display: flex;
        align-content: center;
        justify-content: center;
        padding-top: 40px;

        i {
            color: $color-1;
            &:hover {
                color: #333;
            }
            & + i {
                margin-left: 30px;
            }
        }
    }

    .copyright {
        display: flex;
        justify-content: center;
        padding-top: 15px;
        color: #333;
    }
}

@media screen and (max-width: 750px) {
    footer {
        height: $heightFooterMobile !important;

        .footer-background {
            .footer-wave {
                display: none !important;
            }
            .footer-wave-mobile {
                display: block !important;
            }
        }
    }
}
