*,
:before,
:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$color-1: rgb(207, 74, 67);
$color-2: rgb(225, 83, 73);
$color-3: rgb(233, 95, 85);
$color-4: rgb(203, 90, 94);

$color-5: hsla(60, 100%, 70%, 0.2);
$color-6: #333333;
$color-7: #ffff52;

$heightFooter: 470px;
$heightFooterMobile: 670px;

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    path {
        fill: url(#svg-gradient);
    }
}
